.industry_card_container{
    margin-left: 4em;
    margin-right: 4em;
    display: flex;
    overflow-x: scroll;
    gap: 3em;
    flex-basis: 20em;
}


.services_middle_container{
    text-align: center;
    margin-top: 2em;
}

.services_middle_title{
    color: #0b9fcb;
}